---
// src/pages/blog/[slug].astro
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import BlogLayout from "../../layouts/BlogLayout.astro";

interface Props {
  post: CollectionEntry<"blog">;
}

export async function getStaticPaths() {
  const blogPosts = await getCollection("blog");
  return blogPosts.map((post: any) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const dateOptions: object = {
  year: "numeric",
  month: "long",
  day: "numeric",
};

function formatDate(date: string) {
  return new Date(date).toLocaleDateString("en-US", dateOptions);
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<BlogLayout>
  <article class="prose dark:prose-invert space-y-5">
    <div class="flex flex-col lg:flex-row py-4 pr-4">
      <div class="flex-auto text-lg font-semibold">{post.data.title}</div>
      <!-- <div class="text-sm text-gray-400">{formatDate(post.data.date)}</div> -->
    </div>
    <Content />
  </article>
</BlogLayout>
