/* src/styles/global.css */

body {
	background: black;
}

/* Neon Grid Background */
body::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: repeating-linear-gradient(to right,
			transparent,
			transparent 19px,
			rgba(128, 0, 128, 0.2) 20px),
		repeating-linear-gradient(to bottom,
			transparent,
			transparent 19px,
			rgba(128, 0, 128, 0.2) 20px);
	z-index: -1;
}

/* Pixelated Stars */
body::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent url('/stars.png') repeat;
	z-index: -1;
}

/* Glow Effect */
.glow-text {
	text-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000;
}

/* Pixelate text and give it borders */
.pixel-text {
	font-family: "Press Start 2P", sans-serif;
	font-size: 48px;
	color: #ffcc33;
	/* Main text color */
	position: relative;
	text-shadow:
		2px 2px 0 #d94d11,
		/* Bottom-right shadow for a border effect */
		-2px -2px 0 #d94d11,
		/* Top-left shadow for a border effect */
		2px -2px 0 #d94d11,
		/* Top-right shadow for a border effect */
		-2px 2px 0 #d94d11;
	/* Bottom-left shadow for a border effect */
}

.pixel-text::before {
	content: "The Loose Collective";
	/* Duplicate content for layering */
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	color: #ff0000;
	/* Border color */
	clip-path: polygon(10% 10%,
			20% 10%,
			20% 20%,
			10% 20%,
			70% 10%,
			80% 10%,
			80% 20%,
			70% 20%);
	/* Creates small white squares */
}
