---
// src/pages/index.astro
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <!-- Top Section -->
  <div class="absolute top-4 left-4 text-sm">
    <div class="text-arcadeRed">1P</div>
    <div>00</div>
  </div>
  <div class="absolute top-4 right-4 text-sm">
    <div class="text-arcadeRed">2P</div>
    <div>00</div>
  </div>
  <div
    class="absolute top-4 left-1/2 transform -translate-x-1/2 text-sm text-arcadeRed text-center"
  >
    <div>HIGH SCORE</div>
    <div class="text-white">12234234435</div>
  </div>

  <!-- Center Section -->
  <div class="text-center">
    <h1 class="pixel-text">The Loose Collective</h1>
    <p class="mt-4 text-sm text-white sm:text-xl">North Brooklyn Creatives</p>
  </div>

  <!-- Bottom Section -->
  <div class="absolute bottom-4 left-4 text-sm text-arcadeRed animate-blink">
    CREDIT <span class="text-white">00</span>
  </div>
</Layout>
