---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import Project from "../components/Project.astro";

const projects = await getCollection("projects");
---

<Layout>
  <div class="px-3 flex flex-col items-center">
    <section class="text-center mb-6 lg:mb-16 lg:max-w-[60ch]">
      <h1 class="font-serif font-semibold text-2xl mb-4">
        Independent Collective Specializing in Full-Stack Web, Mobile, and
        Interactive Software Development.
      </h1>

      <h2 class="font-sans">
        The Loose Collective focuses on full-stack web, mobile, and interactive
        projects—creating software that makes digital experiences seamless and
        engaging.
      </h2>
    </section>

    <section class="lg:mx-7">
      <hr class="w-full bg-slate-700 mb-6" />
      <!-- <h3 class="font-serif text-xl mb-5">Projects</h3> -->
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-10">
        {
          projects.map((project) => (
            <Project
              title={project.data.title}
              description={project.data.description}
              image={project.data.image}
              slug={project.slug}
            />
          ))
        }
      </div>
    </section>
  </div>
</Layout>
