---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="text-center px-3 lg:max-w-[60ch]">
    <h1 class="font-serif font-semibold text-2xl mb-4">
      Independent Creative company specializing in the fields of design, brand
      and digital experiences.
    </h1>

    <h2 class="font-sans">
      Brooklyn Creative is the independent studio practice of Nicole Formica.
      Her approach combines creative strategy with aesthetic expertise to craft
      beautiful, user-focused products and authentic brand experiences.
    </h2>
  </div>
</Layout>
