---

---

<footer class="flex flex-col bg-secondary min-h-14 justify-center items-center">
  <h2 class="font-bold">The Loose Collective</h2>
  <span class="text-sm">Copyright © The Loose Collective LLC, 2024</span>
</footer>
