---
import LinkButton from "../components/LinkButton.astro";
---

<nav class="flex items-center justify-between p-3">
  <div class="flex gap-4 md:mx-7">
    <a href="/work" class="">Work</a>
    <a href="/about" class="">About</a>
  </div>

  <hr class="hidden md:block h-[2px] flex-grow bg-gray-200" />

  <a href="/">
    <img
      class="w-10 md:mx-7"
      src="/logo-generic.svg"
      alt="Loose Collective Logo"
    />
  </a>

  <hr class="hidden md:block h-[2px] flex-grow bg-gray-200" />

  <div class="hidden md:block md:mx-7">
    <LinkButton label="Work with Us" href="mailto:harrison@hborg.org" />
  </div>
</nav>
