---
import { Image } from "astro:assets";

interface Props {
  image: {
    src: string;
    width: number;
    height: number;
    format: "png" | "jpg" | "jpeg" | "tiff" | "webp" | "gif" | "svg" | "avif";
  };
  title: string;
  description: string;
  slug: string;
}

const { image, title, description, slug } = Astro.props;
---

<a href=`/projects/${slug}`>
  <article>
    <Image
      src={image}
      alt="Screenshot of web application"
      class="mb-2 h-[250px] object-cover"
    />
    <h2 class="font-semibold">{title}</h2>
    <p>{description}</p>
  </article>
</a>
