<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Loose Collective - Blog</title>
  </head>
  <body>
    <body class="bg-slate-900 text-white">
      <main class="flex justify-center container px-3">
        <div class="flex-col mt-24 w-[600px]">
          <a href="/blog">
            <h1 class="text-2xl mb-8">The Loose Collective Blog</h1>
          </a>
          <slot />
        </div>
      </main>
    </body>
  </body>
</html>
