---
import "../styles/base.css";
import Navbar from "../components/Navbar.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Loose Collective</title>
    <link rel="shortcut icon" href="/logo-generic.svg" type="image/x-icon" />
  </head>
  <body>
    <Navbar />
    <main class="mt-8 flex flex-col items-center">
      <slot />
    </main>
  </body>
</html>
