---

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Loose Collective</title>
    <link rel="shortcut icon" href="/favicon.svg" type="image/x-icon" />
  </head>
  <body>
    <nav class="flex justify-between items-center p-3">
      <img class="w-52" src="/logo.svg" alt="Loose Collective Logo" srcset="" />
      <div class="flex gap-4">
        <a href="/projects" class="">Projects</a>
        <a href="/about" class="">About</a>
      </div>
    </nav>
    <main>
      <slot />
    </main>
  </body>
</html>
